<div class="welcome">
  <h1>Mars C<span class="mars-o">o</span>lony 1</h1>

<a routerLink ="/register">
  <div class="pulse-container">
    <div class="circle-outer">
        <div class="circle-middle">
            <div class="circle-inner">
            </div>
        </div>
    </div>
  </div>
</a>

  <!-- <div class="circle-container">
      <svg class="circle-pulse" xmlns="http://www.w3.org/2000/svg" version="1.1" width="30" height="30" viewbox="0 0 30 30">
        <circle class="circle-one" fill="#bb5f46" cx="15" cy="15" r="15"></circle>
        <circle class="circle-two" fill="#bb5f46" cx="15" cy="15" r="15"></circle>
        <circle class="circle-three" fill="#bb5f46" cx="15" cy="15" r="15"></circle>
      </svg> 
  </div> -->

  
      
<p class="tap">tap circle to enter</p>
</div>
  