@import '../../../_theme.scss';
.report {
    background: url('../../../assets/images/nasa-mars-602861a.jpg') no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: $font_main;
    color: $color_reverse;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    h1 {
        color: #fff;
        font-size: 2.2rem;
        text-align: center;
        font-family: $font_main;
        font-weight: 400;
        text-transform: uppercase;
        padding-top: 4rem;
        letter-spacing: 2px;
        margin-left: 10px;
        margin-right: 10px;
    }
    h3 {
        font-size: 0.8rem;
        text-align: center;
        font-family: $font_main;
        font-weight: 300;
        text-decoration: none;
        color: lightgray;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    span {
        color: $color_mars;
    }
    form {
        margin-top: 10rem;
    }
    button {
        color: $color_reverse;
        padding: 12px 20px;
        border: 3px solid $color_mars;
        border-radius: 4px;
        background-color: transparent;
        text-transform: uppercase;
        font-size: 0.8rem;
        margin-left: 60%;
    }
    select {
        width: 100%;
    }
    textarea {
        width: 100%;
        height: 200px;
        background-color: rgba( 237, 122, 91, 0.5);
        padding: 20px;

        &::placeholder {
            color: $color_text_main;
            text-transform: uppercase;
            font-size: 0.9rem;
            font-weight: 300;
            letter-spacing: 1px;
        }
    }
}

@media screen and (min-width: 600px) {
    button {
        margin-left: 72%;
    }
}

@media screen and (min-width: 1240px) {
    button {
        margin-left: 88%;
    }
}