.page {
    background-color: #64071A;
    height: 100vh;
    font-family: sans-serif;
        h1 {
            text-transform: uppercase;
            color: #fff;
        }
        label {
            color: #fff;
        }
        .button {
            
        }
}