<div class="page">
  <form [formGroup]="registerForm" novalidate>
    <input type="text" placeholder="" formControlName="name"/>
    <input type="number" formControlName="age"/>
    <select formControlName="job_id">
        <option value="none">Select a Job</option>
        <option *ngFor="let job of jobs" value="{{job.id}}">{{ job.name }}</option>
    </select>
  </form>
  {{ registerForm.value | json }}
</div>




<!-- <div>
  <h1>Register</h1>
  <input type="text" name="Name" placeholder="Name">
  <input type="number" name="Age" placeholder="Age">
  <select>
    <option value="">Select Occupation</option>
    <option *ngfor="let job of jobs" value="{{ job.id }}">{{job.name}</option}>
  </select>
</div> -->
