@import '../../../_theme.scss';
.encounter-container {
    background: url('../../../assets/images/mars-globe-valles-marineris-enhanced.jpg') no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: $font_main;
    color: $color_reverse;
    margin-top: 0;
    h1 {
        color: #fff;
        font-size: 2.2rem;
        text-align: center;
        font-family: $font_main;
        font-weight: 400;
        text-transform: uppercase;
        padding-top: 4rem;
        letter-spacing: 2px;
        span {
            color: $color_mars;
        }
    }
    h3 {
        font-size: 1rem;
        text-align: center;
        font-family: $font_main;
        font-weight: 300;
        text-decoration: none;
        color: #fff;
        letter-spacing: 2px;
        text-transform: uppercase;
        padding-bottom: 2rem;
    }
}

p {
    font-weight: 300;
    font-size: 1.2rem;
}

.encounters {
    position: relative;
    overflow-y: scroll;
    max-width: 100%;
    height: 40%;
    background-color: $color-reverse;
    color: #000;
    padding: 30px;
    font-size: 1rem;
    margin-bottom: 1rem;

    .loader-container {
        position: absolute;
        display: inline-block;
        top: 50%; left: 50%;
        transform: translate(-50%,-50%);

            .loading-message {
                text-align: center;
                border: 0;
                text-transform: uppercase;
                font-size: 1rem;
                max-width: 100%;
            }

            .encounter-loader {
                border: 10px solid $color_loader1;
                border-top: 10px solid $color_loader2;
                border-radius: 50%;
                width: 100px;
                height: 100px;
                animation: spin 2s linear infinite;
                margin: 0 auto;
            }
        }
    }

    p {
        border-bottom: 1px solid $color_mars;
    }

footer {
    position: fixed;
    // background-color: $color_reverse;
    padding: 5px 10px;
    margin-left: 25%;
    button {
        color: $color_reverse;
        padding: 12px 20px;
        border: 3px solid $color_mars;
        border-radius: 4px;
        background-color: transparent;
        text-transform: uppercase;
        font-size: 0.8rem;
        margin-left: 60%;
    }
    a {
        text-decoration: none;
        text-transform: uppercase;
    }
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    }

@media screen and (min-width: 600px) {
    footer {
        margin-left: 70%;
    }

    .loader-container {
        // top: 23%;
        // left: 24%;
    }
}

@media screen and (min-width: 1240px) {
    footer {
        margin-left: 80%;
    }

    .loader-container {
        // top: 23%;
        // left: 42%;
    }
}