.container {
    background: url('../../../assets/images/mars2020-full.jpg') no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Josefin Sans';
    color: white;
}

p {
    font-size: 1rem;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding-top: 20rem;
    position: relative;
    letter-spacing: 2px;
}

@media screen and (min-width: 600px) {
    p {
        position: fixed;
        margin-left: 10rem;
    }
}

@media screen and (min-width: 1240px) {
    p {
        position: fixed;
        margin-left: 10rem;
    }
}