@import '../../../_theme.scss';
.container {
    background: url('../../../assets/images/mars2020-full.jpg') no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Josefin Sans';
    color: $color_reverse;
    position: relative;
    p {
        font-size: 1rem;
        color: $color_reverse;
        text-transform: uppercase;
        text-align: center;
        padding-top: 20rem;
        position: relative;
        letter-spacing: 2px;
        margin-left: 10%;
    }
    span {
        color: $color_mars;
    }
}

@media screen and (min-width: 600px) {
    p {
        margin-left: 10%;
    }
}

@media screen and (min-width: 1240px) {
    p {
        margin-left: 10%;
    }
}