//VARIABLES 

//COLOURS

$color_mars: #bb5f46;
$color_mars-var1: #8a4a31;
$color_mars-var2: #ff7349;
$color_reverse: #fff;
$color_reverse-var1: lightgrey;
$color_text_main: #000;
$color_loader1: #ffa578;
$color_loader2: #a42203;


//TYPOGRAPHY

$font_main: "Josefin Sans";
$font_main_size: 16px;
$font_line-height-body: 1.75;